<div class="container">
  <app-menu-bar></app-menu-bar>
  <app-title></app-title>
  <div class="articles">
    <div class="articles-main">
      <app-big-card
      articleId="{{DataFake[0].id}}"
      photoCover="{{DataFake[0].photo}}"
      title="{{DataFake[0].title}}"
      description="{{DataFake[0].description}}"
      ></app-big-card>

    </div>
    <div class="articles-others">
      <app-small-card
      articleId="{{DataFake[1].id}}"
      photoCover="{{DataFake[1].photo}}"
      description="{{DataFake[1].title}}"
      ></app-small-card>
      <app-small-card
      articleId="{{DataFake[2].id}}"
      photoCover="{{DataFake[2].photo}}"
      description="{{DataFake[2].title}}"
      ></app-small-card>
      <app-small-card
      articleId="{{DataFake[3].id}}"
      photoCover="{{DataFake[3].photo}}"
      description="{{DataFake[3].title}}"
      ></app-small-card>
      <app-small-card
      articleId="{{DataFake[4].id}}"
      photoCover="{{DataFake[4].photo}}"
      description="{{DataFake[4].title}}"
      ></app-small-card>
    </div>
  </div>
  <app-footer></app-footer>
</div>
