.container-menu-bar {
    width: 100%;
}

.container-menu-bar ul{
    margin: 1% 0% 1% 0%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}

.container-menu-bar li{
    margin-right: 5%;
    border-style: solid;
    padding: 5%;
}

.container-menu-bar li:hover{
    color: #03A062;
}

.container-menu-bar li:hover a{
    color: #03A062;
}

